streamlit
scikit-learn
category_encoders
numpy
scipy
statsmodels
pandas
patsy
unittest2
importlib_resources ; python_version<"3.9"
tensorflow
transformers
matplotlib
seaborn
xgboost
tf_keras
git+https://github.com/streamlit/gsheets-connection
st-gsheets-connection
